<style>
    .modal-body-span {
        display: block;
        width: 105px;
        float: left;
    }

    .modal-body-div {
        margin-bottom: 20px
    }

    .addSpan {
        display: block;
        width: 50px;
        float: left;
        text-align: center
    }
</style>

<div class="row" style="margin-left: 10px">
    <h4>{{selectedSidetitle}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <button class="btn btn-default" data-toggle="modal" data-target="#addModal"
                        ng-click="$scope.getCpList()">创建
                </button>
                <button class="btn btn-default" data-toggle="modal" data-target="#changeModal" ng-disabled="update">修改
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td style="width: 60px;">序号</td>
                    <td style="width: 60px">选择</td>
                    <td class="col-md-3">APP NAME</td>
                    <td class="col-md-2">APP ID</td>
                    <td>APP KEY</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in appList">
                    <td>{{$index + 1}}</td>
                    <td><input type="checkbox" ng-model="item.isSelected"
                               ng-click="changeStatus(item.isSelected);getChanged()"></td>
                    <td class="col-md-2">{{item.name}}</td>
                    <td class="col-md-2">{{item.appid}}</td>
                    <td>{{item.appkey}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4" style="float: right;margin-right: 10px;margin-top: 20px">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="lastPage()" ng-disabled="isLast">上一页</button>
            <button type="button" class="btn btn-default">
                第
                <input type="text"
                       style="width: 30px;height: 20px;margin-left: 5px;margin-right: 5px;text-align: center;"
                       ng-model="showPage">页
            </button>
            <button type="button" class="btn btn-danger" ng-click="goto()">跳转</button>
            <button type="button" class="btn btn-default" ng-click="nextPage()" ng-disabled="isNext">下一页</button>
        </div>
        <label class="control-label" style="color: #ccc">共{{allPage}}页</label>
    </div>
</div>

<!--创建 模态框-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加应用
                </h4>
            </div>

            <form name="addapp">
                <div class="modal-body">
                    <div class="modal-body-div">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="appname不正确" id="appname" data-trigger="focus">app_name：</span>
                        <input type="text" class="form-control" style="width: 70%" ng-model="app_name"
                               placeholder="请输入appname" autofocus required name="appname"
                               ng-class="{'has-error':appname_has_error}" ng-focus="remove('appname')">
                    </div>

                    <div class="form-group" style="margin-bottom: 0">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="内容提供商ID必选" id="channel_id" data-trigger="focus">内容提供商ID：</span>
                        <select class="form-control" style="width: 70%" ng-change="getCp(item.id)" ng-model="item.id"
                                ng-options="item.id as item.name for item in cpList" autofocus required
                                name="channel_id" ng-class="{'has-error':channel_id_has_error}"
                                ng-focus="remove('channel_id')">
                            <option value="">-----请选择-----</option>
                        </select>
                    </div>
                    <br/>

                    <div class="modal-body-div">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="回调地址必填" id="back_url"
                              data-trigger="focus">回调地址：</span>
                        <input class="form-control" style="width: 70%" ng-model="back_url" placeholder="请输入回调地址"
                               autofocus required name="back_url" ng-class="{'has-error':back_url_has_error}"
                               ng-focus="remove('back_url')">
                    </div>

                    <span class="modal-body-span">应用描述：</span>
                    <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" rows="3"
                              style="max-width: 70%" ng-model="extra"></textarea>
                </div>
            </form>


            <div class="modal-footer" style="float: left" ng-if="third" ng-click="addFirst()">
                <input class="btn btn-success" type="button" id="thirdConfig" value="第三方配置">
            </div>

            <div class="modal-footer" style="float:left;" ng-if="showPack">
                <input class="btn btn-success" type="button" style="width: 100px;display: block;float: left" value="收起"
                       ng-click="pickUp()">
                <span class="fa fa-plus-square fa-lg"
                      style="display: block;float: left;margin-left: 20px;line-height: 35px" ng-click="add()"></span>
            </div>

            <div style="clear:both;" ng-if="showPack"></div>

            <div ng-repeat="item in thirdProperties" style="margin-bottom: 10px">
                <div style="float: left">
                    <span class="addSpan">名称：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.name">
                </div>

                <div style="float:left;">
                    <span class="addSpan">键：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.key">
                </div>

                <div style="float:left;">
                    <span class="addSpan">值：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.value">
                </div>
            </div>

            <div style="clear:both;margin-bottom: 10px" ng-if="showPack"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="confirmWin()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancle()">关闭</button>
            </div>

            <div style="clear:both;"></div>
        </div>
    </div>
</div>

<!--修改 模态框-->
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="ModalLabel">
                    修改应用
                </h4>
            </div>

            <form name="updateApp">
                <div class="modal-body">
                    <div class="modal-body-div">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="appname不正确" id="change_user_name"
                              data-trigger="focus">app_name：</span>
                        <input class="form-control" style="width: 70%" ng-model="changeInfo.change_user_name"
                               placeholder="请输入appname" autofocus required name="change_user_name"
                               ng-class="{'has-error':change_user_name_has_error}"
                               ng-focus="remove('change_user_name')">
                    </div>

                    <div class="form-group" style="margin-bottom: 0">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="内容提供商ID必选" id="change_cp_id" data-trigger="focus">内容提供商ID：</span>
                        <select class="form-control" style="width: 70%" ng-change="getChangeCp(item.id)"
                                ng-model="item.id" ng-options="item.id as item.name for item in cpList" required
                                name="change_cp_id" ng-class="{'has-error':change_cp_id_has_error}"
                                ng-focus="remove('change_cp_id')">
                            <option value="">-----请选择-----</option>
                        </select>
                    </div>
                    <br/>

                    <div class="modal-body-div">
                        <span class="modal-body-span" data-container="body" data-toggle="popover"
                              data-placement="bottom" data-content="回调地址必填" id="change_back_url" data-trigger="focus">回调地址：</span>
                        <input class="form-control" style="width: 70%" placeholder="请输入回调地址"
                               ng-model="changeInfo.change_back_url" required name="change_back_url"
                               ng-class="{'has-error':change_back_url_has_error}" ng-focus="remove('change_back_url')">
                    </div>

                    <span class="modal-body-span">应用描述：</span>
                    <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" rows="3"
                              style="max-width: 70%" ng-model="changeInfo.change_extra"></textarea>
                </div>
            </form>


            <div class="modal-footer" style="float: left" ng-if="changeThird" ng-click="changeFirst()">
                <input class="btn btn-success" type="button" id="changeThirdConfig" value="第三方配置">
            </div>

            <div class="modal-footer" style="float:left;" ng-if="changeShowPack">
                <input class="btn btn-success" type="button" style="width: 100px;display: block;float: left" value="收起"
                       ng-click="pickUp()">
                <span class="fa fa-plus-square fa-lg"
                      style="display: block;float: left;margin-left: 20px;line-height: 35px" ng-click="change()"></span>
            </div>

            <div style="clear:both;margin-bottom: 10px" ng-if="changeShowPack"></div>

            <div ng-repeat="item in changeThirdProperties" style="margin-bottom: 10px">
                <div style="float: left">
                    <span class="addSpan">名称：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.name">
                </div>

                <div style="float:left;">
                    <span class="addSpan">键：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.key">
                </div>

                <div style="float:left;">
                    <span class="addSpan">值：</span>
                    <input class="form-control" style="width: 90px" ng-model="item.value">
                </div>
            </div>

            <div style="clear:both;margin-bottom: 10px" ng-if="changeShowPack"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="updateConfirmWin()">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeCancle()">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--添加 确认-->
<div class="modal fade" id="confir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="confirLabel">
                    添加应用
                </h4>
            </div>
            <div class="modal-body">
                确认添加应用？
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="addApp()" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--修改 确认-->
<div class="modal fade" id="updateConfir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateConfirLabel">
                    修改应用
                </h4>
            </div>
            <div class="modal-body">
                确认修改应用？
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="updata()" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>